/* CSS Document */
/* Made with love by Tien Minh Vy, All Right Reserved */
 
/* Global */
* {margin: 0; padding: 0; font-family: Tahoma, Arial, 'sans-serif'}

.center {
    display: flex;
    justify-content: center;
}

a:hover {
    color: #FB6369;
}

/* Begin CSS */

/* Header */
.topbar {
    width: 100vw;
    height: 35px;
    background-color: #424242;
}

.topbar > ul > li {
    float: left;
    list-style: none;
    padding-right: 30px;
    margin-top: 6px;
    font-weight: 100;
}

.topbar > ul > li > a {
    color: white;
    text-decoration: none;
    transition: ease .5s;
}

.topbar > ul > li > a:hover {
    color: #FB6369;
}

.logo-ads .content {
    display: flex;
    position: relative;
    width: 80vw;
    margin: 15px auto 0 auto;
}

.logo-ads .content img[alt="Logo Image"] {
    margin: 15px 0;
}

.logo-ads .content img[alt="Adsvetisement (728x90)"] {
    position: absolute;
    right: 0;
    margin: 7px 0;
}

.menu-section .content {
    height: 40px;
    width: 1150px;
    margin: 0 auto;
}

.menu-section .content {
    border: 1px solid #fff;
    padding: 5px;
}

.menu-section .content ul {
    position: relative;
    height: 40px;
    margin: 10px 0;
    font-weight: bold;
}

.menu-section .content ul > li {
    float: left;
    list-style: none;
    transition: ease .5s;
}

.menu-section .content ul > li > a {
    display: block;
    padding: 10px;
    color: #FE6166;
    text-decoration: none;
    transition: ease .5s;
}

.menu-section .content ul > li > a:hover {
    color: white;
    background-color: #FE6166;
}


li > .fas.fa-bars{
    position: absolute;
    display: none;
    cursor: pointer;
    font-size: 30px; 
    padding: 5px;
    right: 0;
}
/* Main */

main {
    margin: 0 auto;
}

/* Mobile */
.mobile {
    left: -100%;
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background-color: #83838379;
}

/* Animation */
@keyframes mobileNavMoveOut {
    0% {left: -100%;}
    5% {left: -95%;}
    10% {left: -90%;}
    15% {left: -85%;}
    20% {left: -80%;}
    25% {left: -75%;}
    30% {left: -70%;}
    35% {left: -65%;}
    40% {left: -60%;}
    45% {left: -55%;}
    50% {left: -50%;}
    55% {left: -45%;}
    60% {left: -40%;}
    65% {left: -35%;}
    70% {left: -30%;}
    75% {left: -25%;}
    80% {left: -20%;}
    85% {left: -15%;}
    90% {left: -10%;}
    95%  {left: -5%;}
    100% {left: 0}
}

@keyframes mobileNavMoveIn {
    100% {left: -100%;}
    95% {left: -95%;}
    90% {left: -90%;}
    85% {left: -85%;}
    80% {left: -80%;}
    75% {left: -75%;}
    70% {left: -70%;}
    65% {left: -65%;}
    60% {left: -60%;}
    55% {left: -55%;}
    50% {left: -50%;}
    45% {left: -45%;}
    40% {left: -40%;}
    35% {left: -35%;}
    30% {left: -30%;}
    25% {left: -25%;}
    20% {left: -20%;}
    15% {left: -15%;}
    10% {left: -10%;}
    5%  {left: -5%;}
    0% {left: 0}
}

.mobileNavMovingOut {
    animation: mobileNavMoveOut .5s;
    left: 0;
}

.mobileNavMovingIn {
    animation: mobileNavMoveIn .5s;
    left: 100%;
}

.fas.fa-times.closed {
    cursor: pointer;
    color: white; 
    font-size: 40px; 
    position: absolute; 
    right:0;
    margin: 15px 30px;
}

.navMobile {
    margin: 50px;
    list-style: none;
}

.navMobile a {
    color: white;
    text-decoration: none;
    line-height: 60px;
    font-size: 40px;
    transition: ease .5s;
}

.navMobile a:hover {
    color: #FB6369;
}

/* Responsive Web Design for Mobiles/Tablets */

/* Smaller Smartphone */

@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
    li > .fas.fa-bars{
        display: block;
    }
    .desktopView {
        display: none;
    }
    /* .logo-ads .content img[alt="Logo Image"] {
        margin: 15px auto;
    } */
    .logo-ads .content {
        justify-content: center;
    }
}